*{
    list-style: none;
}
body{
    margin: 2rem;
    max-width:54% ;
    margin: auto;
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 1rem;

}

    
.details{
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 90%;
}
}

.work_experiences{

h5{
    display: inline block;
}
}